body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


.cargar{
    content: "";
    width: 20px;
    height: 20px;
    background: red;
    
}

.todo{
    margin-left: 200px;
    margin-top: 220px;
}