body, h3, div, p, input{
    margin: 0;
    padding: 0;
}


.publicacion{
    text-align: left;
    margin: 20px;
    color: #555;
}

.publicacion p{
    padding: 10px 20px;
    border-left: 2px solid blue;
}
.publicacion h3{
    color: blue;
    border-bottom: 2px solid blue;
    display: inline-block;
}

.comentarios{
    display: flex;
}